* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f5f6f8;
  margin: 0;
  padding: 35px 135px;
}

.container {
  display: flex;
  gap: 30px;
  max-width: 1170px;
  margin: auto;
}

form {
  width: 570px;
  min-height: 590px;
}
.profile {
  align-items: center;
}

.form-box {
  background: #fff;
  padding: 35px 35px 16px 35px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
}

h2 {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1c1c1c;
}
.line {
  display: inline-block;
  gap: 12px;
}
label {
  display: block;
  margin-bottom: 7px;
  position: relative;
}
.name-line {
  width: 245px;
  height: 38px;
}
.email-line {
  width: 500px;
  height: 38px;
}

.form-group {
  width: 500px;
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
  /* width: 50%; */
}

.form-group input,
.form-email input,
.form-group select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
}
.note {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin-top: 7px;
  margin-bottom: 20px;
  color: #969696;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.radio-group label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
}
select option.placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
}
.name-line-city {
  width: 245px;
  height: 38px;
  margin-bottom: 0;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn {
  background: #007bff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-top: 20px;
  margin-bottom: 42px;
  color: #ffffff;
}

.update-btn {
  background: #006be6;
  color: #fff;
}

.terms {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #969696;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}
hr {
  margin-top: 0;
}

.profile {
  display: flex;
}
.login-link {
  margin-top: 21px;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}
.fields .form-group {
  margin: 0;
  padding: 0;
}

.profile-pic {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

img {
  margin-right: 20px;
  width: 80px;
  height: 80px;
}
.up {
  display: block;
}

.flex {
  display: flex;
  gap: 10px;
}
.reset {
  width: 30px;
  height: 30px;
}

.upload-info {
  position: relative;
  font-size: 12px;
  color: #777;
  /* text-align: center; */
  margin-bottom: 15px;
}

.upload-info input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cam {
  width: 138px;
  height: 30px;
  margin-bottom: 7px;
}
.img {
  position: absolute;
  top: 6px;
  left: 148px;
  cursor: pointer;
  opacity: 0.7;
  width: 16px;
  height: 16px;
}
.delete {
  position: absolute;
  top: 5px;
  left: 189px;
  cursor: pointer;
  opacity: 0.7;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-info .icon img {
  width: 16px;
  height: 16px;
}
select .placeholder {
  color: #999;
}

select option.placeholder {
  color: #888; /* сірий текст */
}
.fields {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 колонки */
  grid-template-rows: repeat(4, auto); /* 4 рядки */
  gap: 20px 10px; /* відстань між інпутами */
  max-width: 500px;
  margin: auto;
}
.update-btn {
  font-family: "Roboto", sans-serif;
  width: 150px;
  height: 38px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.01em;
  cursor: pointer;
  margin: 0;
  align-items: center;
}

label:has(select)::after {
  content: url(select.svg);
  position: absolute;
  top: 53%;
  left: 91%;
  background: #fff;
  pointer-events: none;
}
